/* Productos home*/
#productos-container{
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
justify-content: center;

}

.tarjeta-producto{
  background-color: white;
  text-align: center;
  padding: 10px;
  max-width: 400px;
  box-shadow:  rgba(126, 56, 238, 0.897);
  border-radius: 30px;
  transition: 200ms;
}

.tarjeta-producto:hover{
  box-shadow: rgba(126, 56, 238, 0.897);
  translate: 0px -5px;
}

.tarjeta-producto img{
  max-width:100%;
  aspect-ratio: 1.5;
}

.precio{
  font-weight: 600;
}

.tarjeta-producto button{
  font-size: larger;
  background-color: white;
  border-radius: 70px;
  padding: 5px 10px;
  color: white;
  border:unset;
  cursor:pointer;
}
.mini-container{
  background-color: white;
}