:root {
  --morado: rgba(126, 56, 238, 0.897);
  --sombra-morado: 0 8px 32px 0 rgba(126, 56, 238, 0.3);
  --fuente-principal: 'Poppins', sans-serif;
  --fuente-secundaria: 'Inter', sans-serif;
  --blanco: #ffffff;
  --gris-claro: #f4f4f4;
  --gris-medio: #cccccc;
  --negro: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gris-claro);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--fuente-principal);
  color: var(--negro);
}

.contenedor {
  background: var(--blanco);
  border-radius: 24px;
  box-shadow: var(--sombra-morado);
  width: 100%;
  max-width: 600px;
  padding: 60px 40px;
  text-align: center;
  margin: 80px auto;
}

.contenedor h1 {
  font-size: 36px;
  margin-bottom: 40px;
  color: var(--morado);
}

.input-box {
  margin: 20px 0;
  position: relative;
  width: 100%;
}

.input-box input {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid var(--gris-medio);
  border-radius: 30px;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  transition: border 0.3s ease;
}

.input-box input:focus {
  border-color: var(--morado);
  box-shadow: 0 0 8px var(--morado);
}

.input-box input::placeholder {
  color: #aaa;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: var(--morado);
}

.btn {
  width: 100%;
  padding: 15px;
  background-color: var(--morado);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgba(106, 46, 210, 1);
  transform: scale(1.03);
}

.registro-link {
  margin-top: 25px;
  font-size: 14px;
}

.registro-link p a {
  color: var(--morado);
  font-weight: 600;
  text-decoration: none;
}

.registro-link p a:hover {
  text-decoration: underline;
}
